@import '../../style/variables.scss';

.Episode {
  border-radius: 4px;
  display: inline-block;
  width: $episode-card-width;
  height: 300px;
  box-sizing: border-box;
  padding: 10px;
  background-color: $color-5;
  position: relative;
  
  &__episode_id {
    position: absolute;
    bottom: -10px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  &__season {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 15px;
  }

  &__episode_id_season {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  &__title {
    padding-top: 30px;
    font-size: 15px;
    font-weight: bold;
  }

  &__air_date {
    position: absolute;
    bottom: -5px;
    right: 10px;
    font-size: 10px;
  }

  &__characters {
    position: absolute;
    top: 100px;
    left: 10px;
    font-size: 10px;
    list-style: none;
    padding: 0;
  }
}

