.Series{
  box-sizing: border-box;

  & p {
  }

  &__button {
    width: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    
    &:first-child {
      width: fit-content;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__poster {
  }
}

.SeriesList {
  list-style: none;
  padding: 0;
}

.SeriesItem {

}
