@import '../../style/variables.scss';

.Season {
  &__button {
    border: none;
    margin: 5px 0;
    background-color: transparent;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: $color-1;
    }
  }
  
  &__List {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    padding: 0;
  }
  
  &__Item {
    margin: 5px;
  }
  
}
