@import './style/variables';

.html,
.body {
  padding: 0;
  margin: 0;
}

.starter {
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
  // background-color: $color-2;
  // color: $color-1;
  font-size: 18px;
}
