.AllSeasons {
  padding: 0;
  margin: 0;
  padding: 0;
  max-width: 900px;
  margin: 0 auto;
}

.AllSeasonsList{
  list-style: none;
  padding: 0;
  margin: 0;
}

.AllSeasonsItem {
  padding: 0;
  margin: 0;
}
